USE [master]
GO
/****** Object:  Database [PrestamosDB]    Script Date: 08/05/2026 10:31:11 a. m. ******/
CREATE DATABASE [PrestamosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrestamosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PrestamosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrestamosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PrestamosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrestamosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrestamosDB]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 08/05/2026 10:31:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[NumNomina] [varchar](20) NULL,
	[Nombres] [varchar](100) NULL,
	[Apellido1] [varchar](100) NULL,
	[Apellido2] [varchar](100) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 08/05/2026 10:31:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[IdPrestamo] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NULL,
	[CantidadTotalPrestada] [decimal](18, 2) NULL,
	[CantidadTotalAPagar] [decimal](18, 2) NULL,
	[InteresAprobado] [decimal](18, 2) NULL,
	[InteresMoratorio] [decimal](18, 2) NULL,
	[IdTipoPago] [int] NULL,
	[FechaPrimerPago] [date] NULL,
	[TotalAbonadoCapital] [decimal](18, 2) NULL,
	[TotalAbonadoIntereses] [decimal](18, 2) NULL,
	[Saldo] [decimal](18, 2) NULL,
	[FechaFinalPago] [date] NULL,
	[IdAutoriza] [int] NULL,
	[Notas] [varchar](500) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamosHistorico]    Script Date: 08/05/2026 10:31:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamosHistorico](
	[IdHistorico] [int] IDENTITY(1,1) NOT NULL,
	[IdPrestamo] [int] NULL,
	[Accion] [varchar](20) NULL,
	[Detalle] [varchar](max) NULL,
	[FechaMovimiento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPagos]    Script Date: 08/05/2026 10:31:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPagos](
	[IdTipoPago] [int] IDENTITY(1,1) NOT NULL,
	[NombreCorto] [varchar](50) NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[empleados] ON 

INSERT [dbo].[empleados] ([IdEmpleado], [NumNomina], [Nombres], [Apellido1], [Apellido2], [Activo]) VALUES (1, N'1001', N'Katya', N'Curiel', N'Jimenez', 1)
INSERT [dbo].[empleados] ([IdEmpleado], [NumNomina], [Nombres], [Apellido1], [Apellido2], [Activo]) VALUES (2, N'1002', N'Juan', N'Perez', N'Lopez', 1)
INSERT [dbo].[empleados] ([IdEmpleado], [NumNomina], [Nombres], [Apellido1], [Apellido2], [Activo]) VALUES (3, N'1003', N'Maria', N'Santos', N'Ruiz', 1)
SET IDENTITY_INSERT [dbo].[empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Prestamos] ON 

INSERT [dbo].[Prestamos] ([IdPrestamo], [IdEmpleado], [CantidadTotalPrestada], [CantidadTotalAPagar], [InteresAprobado], [InteresMoratorio], [IdTipoPago], [FechaPrimerPago], [TotalAbonadoCapital], [TotalAbonadoIntereses], [Saldo], [FechaFinalPago], [IdAutoriza], [Notas], [FechaRegistro]) VALUES (4, 1, CAST(18000.00 AS Decimal(18, 2)), CAST(18500.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL, CAST(23000.00 AS Decimal(18, 2)), NULL, NULL, N'sigue con dos prestamos activos', CAST(N'2026-05-07T16:01:53.320' AS DateTime))
INSERT [dbo].[Prestamos] ([IdPrestamo], [IdEmpleado], [CantidadTotalPrestada], [CantidadTotalAPagar], [InteresAprobado], [InteresMoratorio], [IdTipoPago], [FechaPrimerPago], [TotalAbonadoCapital], [TotalAbonadoIntereses], [Saldo], [FechaFinalPago], [IdAutoriza], [Notas], [FechaRegistro]) VALUES (5, 2, CAST(5000.00 AS Decimal(18, 2)), CAST(5500.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL, CAST(125000.00 AS Decimal(18, 2)), NULL, NULL, N'seguimos actualizando ', CAST(N'2026-05-07T16:03:20.390' AS DateTime))
SET IDENTITY_INSERT [dbo].[Prestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[PrestamosHistorico] ON 

INSERT [dbo].[PrestamosHistorico] ([IdHistorico], [IdPrestamo], [Accion], [Detalle], [FechaMovimiento]) VALUES (1, 2, N'UPDATE', N'Se actualizó el préstamo. Saldo: 14000.00 ? 2411688.00', CAST(N'2026-05-07T19:11:26.037' AS DateTime))
INSERT [dbo].[PrestamosHistorico] ([IdHistorico], [IdPrestamo], [Accion], [Detalle], [FechaMovimiento]) VALUES (2, 2, N'UPDATE', N'Se actualizó el préstamo. Saldo: 2411688.00 ? 2411688.0000', CAST(N'2026-05-07T19:11:53.200' AS DateTime))
INSERT [dbo].[PrestamosHistorico] ([IdHistorico], [IdPrestamo], [Accion], [Detalle], [FechaMovimiento]) VALUES (3, 2, N'UPDATE', N'Se actualizó el préstamo. Saldo: 2411688.00 ? 2411570.0000', CAST(N'2026-05-07T19:18:42.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[PrestamosHistorico] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoPagos] ON 

INSERT [dbo].[TipoPagos] ([IdTipoPago], [NombreCorto], [Descripcion]) VALUES (1, N'Semanal', N'Pago semanal')
INSERT [dbo].[TipoPagos] ([IdTipoPago], [NombreCorto], [Descripcion]) VALUES (2, N'Catorcenal', N'Cada 14 días')
INSERT [dbo].[TipoPagos] ([IdTipoPago], [NombreCorto], [Descripcion]) VALUES (3, N'Quincenal', N'Cada 15 días')
SET IDENTITY_INSERT [dbo].[TipoPagos] OFF
GO
ALTER TABLE [dbo].[empleados] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PrestamosHistorico] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
/****** Object:  StoredProcedure [dbo].[sp_Prestamos_Actualizar]    Script Date: 08/05/2026 10:31:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Prestamos_Actualizar]
(
    @IdPrestamo INT,
    @IdEmpleado INT,
    @CantidadTotalPrestada DECIMAL(18,2),
    @CantidadTotalAPagar DECIMAL(18,2),

    @InteresAprobado DECIMAL(18,2),
    @InteresMoratorio DECIMAL(18,2),

    @IdTipoPago INT,

    @FechaPrimerPago DATETIME = NULL,

    @TotalAbonadoCapital DECIMAL(18,2),
    @TotalAbonadoIntereses DECIMAL(18,2),

    @Saldo DECIMAL(18,2),

    @FechaFinalPago DATETIME = NULL,

    @IdAutoriza INT,

    @Notas VARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Prestamos
    SET
        IdEmpleado = @IdEmpleado,
        CantidadTotalPrestada = @CantidadTotalPrestada,
        CantidadTotalAPagar = @CantidadTotalAPagar,

        InteresAprobado = @InteresAprobado,
        InteresMoratorio = @InteresMoratorio,

        IdTipoPago = @IdTipoPago,

        FechaPrimerPago = @FechaPrimerPago,

        TotalAbonadoCapital = @TotalAbonadoCapital,
        TotalAbonadoIntereses = @TotalAbonadoIntereses,

        Saldo = @Saldo,

        FechaFinalPago = @FechaFinalPago,

        IdAutoriza = @IdAutoriza,

        Notas = @Notas

    WHERE IdPrestamo = @IdPrestamo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Prestamos_Buscar]    Script Date: 08/05/2026 10:31:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[sp_Prestamos_Buscar]
@IdPrestamo INT
AS
BEGIN

SELECT * FROM Prestamos
WHERE IdPrestamo = @IdPrestamo

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Prestamos_Eliminar]    Script Date: 08/05/2026 10:31:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_Prestamos_Eliminar]
@IdPrestamo INT
AS
BEGIN

DELETE FROM Prestamos
WHERE IdPrestamo = @IdPrestamo

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Prestamos_Insertar]    Script Date: 08/05/2026 10:31:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROCEDURE [dbo].[sp_Prestamos_Insertar]
    @IdEmpleado INT,
    @CantidadTotalPrestada DECIMAL(18,2),
    @CantidadTotalAPagar DECIMAL(18,2),
    @InteresAprobado DECIMAL(18,2),
    @InteresMoratorio DECIMAL(18,2),
    @IdTipoPago INT,
    @FechaPrimerPago DATE = NULL,
    @TotalAbonadoCapital DECIMAL(18,2),
    @TotalAbonadoIntereses DECIMAL(18,2),
    @Saldo DECIMAL(18,2),
    @FechaFinalPago DATE = NULL,
    @IdAutoriza INT,
    @Notas VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Prestamos
    (
        IdEmpleado,
        CantidadTotalPrestada,
        CantidadTotalAPagar,
        InteresAprobado,
        InteresMoratorio,
        IdTipoPago,
        FechaPrimerPago,
        TotalAbonadoCapital,
        TotalAbonadoIntereses,
        Saldo,
        FechaFinalPago,
        IdAutoriza,
        Notas,
        FechaRegistro
    )
    VALUES
    (
        @IdEmpleado,
        @CantidadTotalPrestada,
        @CantidadTotalAPagar,
        @InteresAprobado,
        @InteresMoratorio,
        @IdTipoPago,
        @FechaPrimerPago,
        @TotalAbonadoCapital,
        @TotalAbonadoIntereses,
        @Saldo,
        @FechaFinalPago,
        @IdAutoriza,
        @Notas,
        GETDATE()
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Prestamos_Listar]    Script Date: 08/05/2026 10:31:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_Prestamos_Listar]
AS
BEGIN

    SELECT 
        p.IdPrestamo,
        p.IdEmpleado,

        -- Empleado
        e.Nombres + ' ' + e.Apellido1 + ' ' + ISNULL(e.Apellido2,'') AS NombreEmpleado,

        -- Autorizador
        ea.Nombres + ' ' + ea.Apellido1 + ' ' + ISNULL(ea.Apellido2,'') AS NombreAutorizador,

        -- Tipo de pago
        tp.NombreCorto AS NombreTipoPago,

        p.CantidadTotalPrestada,
        p.CantidadTotalAPagar,
        p.Saldo,
        p.Notas

    FROM Prestamos p

     LEFT JOIN Empleados e 
        ON p.IdEmpleado = e.IdEmpleado

    LEFT JOIN Empleados ea 
        ON p.IdAutoriza = ea.IdEmpleado

    LEFT JOIN tipopagos tp 
        ON p.IdTipoPago = tp.IdTipoPago
END
GO
USE [master]
GO
